[email]
; email address you want to retrieve emails from
email=
; email account password or if 2-step-verification settings, the app password
passwd=
; the folder where the emails are filtered into
folder=
[output]
; file name for geojson output
geojsonfile=camps.geojson
; file name for kml output
kmlfile=camps.kml
; file name for geojson tweet embed output
geojsontweetsfile=campstweets.geojson
[twitter]
; twitter api values from https://apps.twitter.com/
consumerkey=
consumersecret=
accesstokenkey=
accesstokensecret=
owner=
ownerid=
; twitter username you want the tweets from
user=
createdatformat=%a %b %d %H:%M:%S %z %Y
; max number of tweets in one api call
maxtweets=200
[spot]
datetimeformat=%m/%d/%Y %H:%M:%S
[misc]
datetimeformat=%I %p %d %b %Y
dateformat=%Y-%m-%d
isodatetimeformat=%Y-%m-%d %H:%M:%S %z
